<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 col-lg-3"></div>

    <div class="col-md-9 col-lg-9">
        <div class="row">
            <div class=" col-xs-12 xol-sm-12 col-md-9 col-lg-9">
                <div class="row">
                    <span class="col"></span>
                    <a routerLink="/interviewList">
                                Interview List
                        </a>
                </div>
                <div class="regformhead"><p>Add Interview Details</p></div>
                <form [formGroup]="interviewForm"  >

                    
	
                    <!-- Title -->
                    
                    <div class="form-group row">
                      <label for="title" class="col-sm-3 col-form-label">Title:</label>
                      <div class="col-sm-9">
                      
                        <input type="text" class="form-control" required="required" formControlName="title"  name="title" id="title" placeholder="Title" required>
                      
                      </div>
                    </div>
                    
                    <br>

                    <!-- Description -->

                    <div class="form-group row">
                        <label for="description" class="col-sm-3 col-form-label">Description:</label>
                        <div class="col-sm-9">
                        
                          <input type="text" class="form-control" name="description" id="description" required="required" formControlName="description" placeholder="Description" required>
                        
                        </div>
                    </div>
                      
                    <br>

                    <!-- Youtube Link -->

                    <div class="form-group row">
                        <label for="youtubeLink" class="col-sm-3 col-form-label">Youtube Link URL:</label>
                        <div class="col-sm-9">
                        
                          <input type="text" class="form-control" formControlName="youtubeLink" name="youtubeLink" id="youtubeLink" placeholder="Youtube Link" required>
                        
                        </div>
                    </div>
                      
                    <br>
                      

                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label">Thumbnail:</label>
                      <div class="col-sm-9">
                        <div class="input-group">
                              <span class="input-group-btn">
                                  <span class="btn btn-default btn-file">
                                      Browse… <input type="file" id="imgInp">
                                  </span>
                              </span>
                              <input type="text" formControlName="thumbNailImage" class="form-control" readonly>
                            </div>
                      </div>
                    </div>

                    <br>

                    <!-- Sequence -->

                    <div class="form-group row">
                        <label for="sequence" class="col-sm-3 col-form-label">Sequence:</label>
                        <div class="col-sm-9">
                        
                          <input type="text" class="form-control" formControlName="sequence" name="sequence" id="sequence" placeholder="Sequence" required>
                        
                        </div>
                    </div>
                      
                    <br>

                    
                    
                        <!-- Status -->
                      
                      <div class="form-group row">
                          <label for="status" class="col-sm-3 col-form-label">Status:</label>
                          <div class="col-sm-9">
                          <select class="form-control" formControlName="active" id="Status" >
                          <option>Active</option>
                          <option>Inactive</option>
                        </select>
                        </div>
                        </div>

                        <br><br>
                      
                      <!-- Add Button -->
                      
                      <div class="form-group row">
                            <button class="btn btn-success" [disabled]="!interviewForm.valid" (click)="addInterview(interviewForm.value)" >Add</button>
                        </div> 
               </form>
            </div>
        </div>
    </div>
  </div>
</div>>