<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-10 col-lg-10">
       <div class="state-form">
          <form [formGroup]="stateForm">      <!--selects is the variable that reference to ngForm that governs the form as a whole-->

            <h2 class="text-center">HamareNetaji</h2>
            <h2 class="text-center" style="font-size: 20px">
              Select State
            </h2>
            <div class="row">
              <span class="col"></span>
              <a routerLink="/stateList">
                State List
              </a>
            </div>

            <div class="form-group">
              <label for="statename">State Name</label>
              <input type="text" class="form-control" id="statename"  required="required" formControlName="name"/>
            </div>

            <div class="form-group">
              <label for="statename">Latitude</label>
              <input type="text" class="form-control" required="required" formControlName="lat"/>
            </div>

            <div class="form-group">
              <label>Longitude</label>
              <input type="text" class="form-control" required="required" formControlName="lon"/>
            </div>

            <!--<div class="form-group form-check">
              <label class="form-check-label">
                <input class="form-check-input" type="checkbox" formControlName="active"> Active
              </label>
            </div>-->

            <div class="form-group">
              <label for="status">Status</label>
              <select class="form-control" id="status" formControlName="active">
                <option value="Active">Active</option>
                <option value="Inactive">Inactive</option>
              </select>
            </div>

            <div class="form-group">
              <button class="btn btn-success" [disabled]="!stateForm.valid" (click)="addState(stateForm.value)">Submit</button>
            </div>
              <!--&lt;!&ndash;STATE NAME BEGINS&ndash;&gt;
              <div class="form-group">
                <label for="statename">State Name</label>
                    <input type="text" class="form-control" id="statename"  required="required" pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="model.name" name="statename" #nameState="ngModel">
              </div >
               &lt;!&ndash;STATE NAME ENDS&ndash;&gt;

            &lt;!&ndash;STATUS BEGINS&ndash;&gt;
              <div class="form-group">
                  <label for="status">Status</label>
                  <select class="form-control" id="status" required="required">
                    <option *ngFor="let statu of status" [value]="statu">{{statu}}</option>   &lt;!&ndash;statu is the reference for dropsown in STATUS OPTION&ndash;&gt;
                  </select>
                </div>
            &lt;!&ndash;STATUS ENDS&ndash;&gt;


              <div class="form-group">
                  <button type="submit" class="btn btn-success" [disabled]="!selects.form.valid">Add</button>
              </div>-->
          </form>
       </div>
    </div>
  </div>
</div>
