<aside class="app-sidebar">
  <ul class="app-menu">

    <li>
      <a class="app-menu__item" routerLinkActive="active" routerLink="/dashboard">
        <span class="app-menu__label">Dashboard</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" routerLinkActive="active" routerLink="/states">
        <span class="app-menu__label">States</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" routerLinkActive="active" routerLink="/party">
        <span class="app-menu__label">Party</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" routerLinkActive="active" routerLink="/interview">
        <span class="app-menu__label">Interviews</span>
      </a>
    </li>
    <li>
      <a class="app-menu__item" routerLinkActive="active" routerLink="/hnk">
        <span class="app-menu__label">Hamare Netaji Kahen</span>
      </a>
    </li>

    <li>
      <a class="app-menu__item" routerLinkActive="active" routerLink="/profile">
        <span class="app-menu__label">Leader Profile</span>
      </a>
    </li>
  </ul>
</aside>



      <!--<nav class="navbar navbar-inverse navbar-dark navbar-fixed-left">

              <ul class="nav navbar-nav">
                <li><a routerLink = "select-state">Select State</a></li>
                <li><a routerLink = "select-party">Select Party</a></li>
                <li><a routerLink = "manage-states">Manage States</a></li>
                <li><a routerLink = "leader-profile">Add Leader Profile</a></li>
                <li><a routerLink = "add-interview">Add Interview</a></li>
                <li><a routerLink = "hamare-netaji-kahen">Hamare Netaji Kahen</a></li>
                <li><a routerLink = "/">Back to Login Page</a></li>
              </ul>

       </nav>-->



