<div class="app-title">
  <div>
    <h1>Interviews</h1>
    <p>Interview List</p>
  </div>

  <a routerLink="/interview" class="btn btn-outline-dark">Add Interview</a>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="tile">
      <table class="table">
        <thead>
        <tr>
          <th>Title</th>
          <th>Description</th>
          <th>Sequence</th>
          <th>Youtube-Link</th>
          <th>Active</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let interview of interviewList">
          <td>{{interview.title}} </td>
          <td>{{interview.description}}</td>
          <td>{{interview.sequence}}</td>
          <td>{{interview.youtubeLink}}</td>
          <td>{{interview.active}}</td>
          <td>
            <a class="btn btn-outline-info" [routerLink] = "['/interview', interview.id]">
              <i class="fa fa-pencil" style="font-size: 18px"></i>
            </a>

            <button class="btn btn-outline-danger ml-1">
              <i class="fa fa-trash" style="font-size: 18px"></i>
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<!--
<div class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-lg-2"></div>
    <div class="col-md-10 col-lg-10">
      <div class="row">
        <span class="col"></span>
        <a routerLink="/add-interview">
                      Add Interview
                </a>
      </div>
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Sequence</th>
            <th>Youtube-Link</th>
            <th>Active</th>
            <th>Edit</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let interview of interviewList">
            <td>{{interview.title}} </td>
            <td>{{interview.description}}</td>
            <td>{{interview.sequence}}</td>
            <td>{{interview.youtubeLink}}</td>
            <td>{{interview.active}}</td>
            <td><a href="#" style="text-decoration: none">Edit</a></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>-->
